.playerCard {
	display:flex;
	width: 1150px;
	border-radius: 10px;
	border: blue 4px;
	border-style: solid;
	height: 100px;
	margin-top: 60px;
	position: relative;
	margin-left: 420px;
}
.playerName {
	margin-left: 30px;
	font-size: 70px;
}
.victoryIcon {
	position: absolute;
	top: 14px;
	left: 680px;
}
.victoryPoints {
	position: absolute;
	top: 4px;
	left: 745px;
	font-size: 60px;
}
.playerIcon {

}
.playerIconContainer {
	margin-left: -50px;
	margin-top: -30px;
	background-color: white;
	height: 150px;
}
.largestIcons {
	
}
.largestRoadIcon {
	position: absolute;
	top: 10px;
	left: 830px;
}
.largestArmyIcon {
	position: absolute;
	top: 10px;
	left: 910px;
}
.settlementIcon {
	position: absolute;
	top: 4px;
	left: 1043px;
}
.cityIcon {
	position: absolute;
	top: 35px;
	left: 1043px;
}
.roadIcon {
	position: absolute;
	top: 66px;
	left: 1043px;
}
.armyIcon {
	position: absolute;
	top: 2px;
	left: 1093px;
}
.cardIcon {
	position: absolute;
	top: 35px;
	left: 1093px;
}
.VPSmall {
	position: absolute;
	top: 66px;
	left: 1093px;
}
.numSettlement {
	position: absolute;
	top: -2px;
	left: 1070px;
	font-size: 30px;
}
.numCity {
	position: absolute;
	top: 28px;
	left: 1070px;
	font-size: 30px;
}
.numRoad {
	position: absolute;
	top: 58px;
	left: 1070px;
	font-size: 30px;
}
.numArmy {
	position: absolute;
	top: -2px;
	left: 1120px;
	font-size: 30px;
}
.numHiddenCards {
	position: absolute;
	top: 28px;
	left: 1120px;
	font-size: 30px;
}
.numVPCards {
	position: absolute;
	top: 58px;
	left: 1120px;
	font-size: 30px;
}
#rollableNumbers {
	display: flex;
}
.number {
	width: 70px;
	font-size: 40px;
	text-align: center;
	height: 70px;
}
.dots {
	margin-top: -40px;
	text-align: center;
}